doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width-device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    h2.center#pug-success-message
    | Looks like this page is being rendered from Pug into HTML!
    | #{title}
    p#pug-variable=message
    block content
