extends layout

block content
  if showLogin
    hr
    h2.center Login Form
    form(action='/login', method='post').center
      div
        label Username:
        input(type='text', name='username')
      div
        label Password:
        input(type="password", name="password")
      div
        input(type="submit", value="Log In")

  if showRegistration
    hr
    h2.center Registration Form
    form(action='/register', method='post').center
      div
        label Username:
        input(type='text', name="username")
      div
        label Password:
        input(type='password', name="password")
      div
        input(type="submit", value="Register")

  if showSocialAuth
    hr
    h2.center Social Login
    .login.center
      a(href='/auth/github').text Login with GitHub!
